{% extends 'base.html' %}

{% block header %}

    <title>داستان فرعی</title>
{% endblock %}




{% block body %}

{% include 'parts/header.html'%}

    <section class="simple-box">
        <h1>داستان فرعی(بی اسم)</h1>
        <p>این سایت مخصوص دو آدم سمی و داستانشان است که هیچ وقت ادامه ندادن. اگه میخوای بخونی بیا توی سایت</p>
        <span class="login-big-btn"><a href="/user/login">حساب کاربری نداری؟ چرا ثبت نام نمیکنی؟</a></span>
    </section>

{% if current_user.is_authenticated %}

    <section class="simple-box" style="width: 200px;">
        <span class="login-big-btn" style="width: 100px;"><a href="{{ url_for('user.story') }}">داستان</a></span>
    </section>
{% endif %}
<section class="slider">
        <span style="right: 5px;" onclick="change(true)">&#x2771;</span>
        <span style="left: 5px;" onclick="change(false)">&#x2770;</span>
        <img src="{{url_for('static', filename = 'images/01.jpg')}}">
</section>

<section class="simple-box"> 
    <h2>سوالات متداول</h2>
        <section class="question-box" onclick="showAnswer(this)">
            <h4>این سایت چه کمکی به من میکند؟</h4>
            <p>این سوال همونقدر احمقانست که بگی اینستا چه کمکی بهم میکنه ولی خب جوابشو میدم، گذروندن وقت</p>
        </section>
        <section class="question-box" onclick="showAnswer(this)">
            <h4>چرا باید این سایتو انتخاب کنم؟</h4>
            <p>چون از حق نگذریم خوب مینویسیم</p>
        </section>
        <section class="question-box" onclick="showAnswer(this)">
            <h4>میتونیم خودمون هم توی نوشتن داستان نقشی داشته باشیم؟ </h4>
            <p>صد البته!البته هنوز این بخشو نساختم بعدا تو اپدیتای بعدی شاید</p>
        </section>
        <section class="question-box" onclick="showAnswer(this)">
            <h4>آیا نوشتن یا خوندن داستان هزینه داره؟</h4>
            <p>خیر البته فعلا</p>
        </section>
</section>

{% include 'parts/footer.html' %}



    <script>
        let img = document.querySelector(".slider img")
        let items = ["{{url_for('static', filename = 'images/01.jpg')}}" ,"{{url_for('static', filename = 'images/02.jpg')}}" ,"{{url_for('static', filename = 'images/03.jpg')}}" ,"{{url_for('static', filename = 'images/04.jpg')}}"]
        let index = 0

        let changeSrc = (element, url)=>{
            element.style.opacity = 0
            setTimeout(()=>{
                element.src = url
            },500)
            element.onload = ()=>{
                element.style.opacity = 1
            }
            
        }

        let change = (isNext)=>{
            //برای دکمه ی راست
            if(isNext){

                index++
                if(index >= items.length)
                    index=0

                changeSrc(img,items[index])
           
            } else{
                // برای دکمه چپ
                index--

                if(index == -1)
                    index = items.length - 1

                changeSrc(img,items[index]);
            
            
           
            
        }
            clearInterval(intervalId);
            startAutoSlide();
            }
            let startAutoSlide = ()=>{
                intervalId = setInterval(()=>{
                    change(true)
                },3000);
            }

            startAutoSlide();

        
    </script>

    <script>
        //برای سوالات متداول بخش پایینی
        let showAnswer =(element)=>{
            //وقتی بخوایم باز یا بسته بشه
            let p = element.querySelector("p")
            if (p.style.height == "0px")
                p.style.height = `${p.scrollHeight}px`
            else
                p.style.height = "0px"

        }

    </script>
    
{% endblock %}
