<section class="main-footer">
    <div class="right-footer">
        <a href="/user/login"><img src="{{url_for('static' , filename = 'cover/checklist.jpg')}}" alt="daily todo list"></a>
        <div class="a-right-footer">
            <a href="/rules">قوانین و مقررات <img src="{{url_for('static',filename ='theme_images/rules.png')}}"></a>
            <a href="tel:091211111111">تماس با ما <img src="{{url_for('static',filename ='theme_images/call.png')}}"></a>
        </div>
    </div>

    <div class="between-footer">
        <p>بی صبرانه منتظر نقد و انتقاداتان هستیم</p>
    </div>
        
    <div class="left-footer-links"> 
        <a href="https://github.com/Fariba-Sh"><img src="{{url_for('static',filename ='theme_images/github.png')}}"></a>
        <a href="https://github.com/Fariba-Sh"><img src="{{url_for('static',filename ='theme_images/instagram.png')}}"></a>
        <a href="https://github.com/Fariba-Sh"><img src="{{url_for('static',filename ='theme_images/telegram.png')}}"></a>
    </div>

   
</section>

<!--  -->