{% extends 'base.html' %}

{% block header %}

    <title>داستان قسمت 1</title>
{% endblock %}


{% block body %}

{% include 'parts/header.html'%}

    <section class="simple-box" style="  text-align: justify;
    direction: rtl; 
    padding: 15px; margin: auto; margin-top: 20px;
    ">
        <h1>قسمت اول</h1>
        <pre>Atena:
صدای سووتی توی مغزم پیچید با سردرد فاجعه ای چشمامو به سختی باز کردم

هوا تاریک تر از چیزی بود که بشه راحت دید انگار دو سه ساعتی از غروب گذشته بود

سوز هوا به زخمای بدنم میخورد و علاوه بر سوزش روی خراشیدگی های بدنم

کل بدنم کوفته شده بودو درد میکرد

خواستم تلاشی کنم برای بلند شدن از جام اما نگام به زانوم که افتاد

دررفتگی کاملا مشهود بود

شدت درد بیشتر میشد

هوا بشدت سرد بود

توی جایه دره مانندی بودم

دورو برم فقط درختای کاج و سروه

صدای زوزه شغال ها و خرناس حیوون های وحشی می اومد

تو فکر خلاصی از این وضعیت دستو پامو گم کرده بودم که برق نوری چشمامو زد

مرد جلو تر میومدو فریاد زد:
</pre>

<pre>Fariba:
دختر کوچولویی مث تو اینجا چیکار میکنه؟

چراغ قوه ای که دستم بودو گرفتم رو صورتش

بدن ظریفی داشت انگار که سقوط کرده بود لباساش گلی شده شده بود و شاخه ی های درخت اطرافش افتاده بودن

صدامو بلند تر میکنم: نشنیدی صدامو؟ اینجا چیکار میکنی؟ چجوری اومدی اینجا؟!

</pre>

<pre>Atena:
این دیگه چه خریه

داد زدم : نمیبینی وضعیتمو

آلان وقت بازجوییه؟ میشه کمک کنی منو از اینجا ببری فقط
</pre>

<pre>Fariba:
دستمو به نشونه ی تسلیم میگیرم بالا:
باشه باشه، معمولا کسی که کمک میخواد خیلی اروم خواهش میکنه ولی مث اینکه دختر سرسختی هستی
به زانوش نگاه میکنم و از چیزی که میبینم یکم مورمورم میشه ولی میرم جلو

"بدجوری در رفته. دکتری نمیشناسم اینجا که بتونه درستش کنه. اگه بخوای برات جا میندازمش ولی ممکنه که اشتباه کنم. اگه همینشکلی بمونه قطعا عفونت میکنه، میخوای  امتحان کنم؟"

</pre>

<pre>Atena:
دکتر؟من وقتی تحت تعقیبم چجوری برم بیمارستان؟
گفتم: هرکاری می خوای بکنی فقط سریعتر انجامش بده
</pre>

<pre>Fariba:
لبخندی زدم و چراغ قوه رو دادم دستش
پاشو صاف گذاشتم روی زانوم و دستامو گذاشتم کنار زانوش که در رفته بود 

نگاش کردم با اینکه میخواست خودشو قوی نشون بده نگرانی و ترس تو چهرش معلوم بود
تیکه از از شلوارشو که سوراخ شده بود پاره کردم و قبل از اینکه واکنشی نشون بده دادم دستش و به دهنش اشاره کردم 
دختر بدون کلمه ای پارچه رو گاز گرفت و منم سریع یک دستمو اهرم کردم و اون یکی رو فشار دادم
با یک تق برگشت سر جاش ولی جیغ های ساکت دختر مدتی توی بارون پخش شد
چراغ قوه رو ازش گرفتم و به موتورم اشاره کردم 
"میتونم ببرمت جایی که درست کردم اونجا درامانی. فک نکنم بدونی کجایی مگه نه؟"
</pre>

<pre>Atena:
لباسشو بهم داد تا بپوشم. بدون تشکر ازش گرفتم.
وقتی ازم این درخواست رو کرد گفتم: در اضاش چی از من می خوای؟

</pre>

<pre>Fariba:
برام عجیب بود همچین چیزی بشنون اونم از همچین دختر ظریفی
"دختر کوچولو من نمیدونم چه زندگی ای داشتی تا الان ولی من از تو چیزی نمیخوام. البته یسری سوال دارم ازت. چجوری افتادی توی این مکان؟ کوه های اطرافمون شیبشون زیادتر از اونیه که بخوای خودتو ازشون پرت کنی و دقیقا همین وسط فرود بیای."
نگاه دقیق تری به لباساش انداختم. ژاکتش جیبای زیادی داشت و زیرش هم مشخص بود که بجز لباس چیزای دیگه ای هست. 
به درخت بقلش نگاه کردم 
کولش از شاخه آویزون بود. همینجور که خودمو کشوندم بالا تر بیارمش پایین گفتم: تو واقعا دوست نداری به من جواب بدی نه؟
</pre>

<pre>Atena:
گفتم: تا وقتی چرتو پرت میگی نه. الکی کمک نمیکنی که. از آلان معامله کن
</pre>

<pre>Fariba:
از واکنش پرخاشگر دختر خندم گرفت ولی خب از ی طرفم اینکه ببینی بچه ای مث اون مجبوره خودشو بزرگتر از چیزی که هست نشون بده حس خوبی نداشت

کیفو برداشتم، خیلی سنگین تر از چیزی بود که تصور میکردم 
"تو حتی نمیدونی که کجایی و من کی هستم ولی درهرحال میخواستی زانوتو سریعتر جا بندازم حتی با اینکه امکان داشت بدتر بشه..." 
جلوتر رفتم و در کیفو باز کردم
دختر اخم کرد و دستش رفت زیر ژاکتش
"با خودت اسلحه حمل میکنی و این مدارکی که با خودت داری هم برای تو نیستن، داشتی فرار میکردی."
همینطور که دختر اسلحشو سمتم نشونه گرفته بود به مدارک نگاه کردم. مهر دولتی...
قطعا از پلیس فرار میکرد
</pre>

<h3>پایان قسمت 1</h3>

<a href="{{ url_for('user.story2') }}">قسمت دوم</a>
    </section>

    {% include 'parts/footer.html' %}
    
{% endblock %}
