{% extends 'base.html' %}

{% block header %}

    <title>درباره ی ما</title>
{% endblock %}


{% block body %}

{% include 'parts/header.html'%}

    <section class="simple-box" style="  text-align: justify;
    direction: rtl; 
    padding: 15px; margin: auto; margin-top: 20px;
    ">
        <h1>قسمت دوم</h1>
        <pre>Fariba:
صدای آژیر پلیس کوچه رو پر کرده بود و سردرد منو بیشتر میکرد 
نشانم انداختم دور گردنم و از زیر نوارای زردی که اطراف خونه بود رد شدم
معمولا خودم حضورا سر صحنه ی قتل نمیرم ولی معاون جدید اینکارو به من محول کرد.

"نیک! باورم نمیشه که خودت اومدی!" 
صدای برایان، متخصص دپارتمان اثر انگشت، توی سرم پیچید.
"دستور معاونه. به گفته ی خودش باید بیشتر برم تو میدون و 'تجربه' کسب کنم."
بقل گوشم خنده ای سرداد و گفت: شانس تو چیز جالبی برات نیست اینجا ی درگیری ساده بوده. قاتل ناشی بوده و نمیدونسته کجاها رو هدف بگیره و احتمالا بعد از اینکارش پشیمون شده و فرار کرده. قربانی ها تا ۲۰ دقیقه بعدش زنده بودن و از خونریزی مردن." 

سری تکون دادم و اجسادو چک کردم. همونی بود که برایان توصیف کرد. گزارشمو نوشتم و بدون فوت وقت رفتم پاسگاه و نشستم سر میزم و پرونده تشکیل دادم.
وقتمو تلف میکردم ولی نمیتونستم با مخالفت زیاد توی چشم باشم. امشب راس ساعت ۳:۴۵ وب باز میشد. باید میفهمیدم آدمای اون فرقه کجا بودن 
 ناگهان دوتا دست سنگین روی میزم فرود اومد: اینجا چیکار میکنی؟! مگه نفرستادمت بری سر صحنه ی قتل؟!" ریس، معاون سرکاراگاه... همیشه میخواست با همه گرم بگیره و موفق هم شده بود ولی باعث شده بود که برای هرکس برنامه مشخصی بریزه. امروز هم موفق شده بود پرونده ی ساده ای مثل اینو به من محول کنه چون ۵ تای قبلی رو رد کردم باید اینو قبول میکردم.

"رفتم و برگشتم. چیزی نبود که هوش زیادی بخواد. مرد دوست بچگیشو دعوت میکنه و با همسرش بحثش میشه و موقع شام مست میکنن و مرده از زنش شکایت میکنه و دوسته توی مستی زن رو میکشه و با مرده درگیر میشه و بر حسب اتفاق اونو هم میکشه و فرار میکنه. مدارکشو روی میزت میذارم." 

ریس با ناباوری نگام میکنه و بعد لبخند میزنه: احیانا اسم اون دوست نابابشو هم دراوردی یا مستقیم از اونجا اومدی پاسگاه؟"

نفس عمیقی کشیدم
"اثر انگشتش روی الت قتل بود به نیروی امنیتی خبر دادم تمام اطراف محوطه رو میگردن لزومی نداره خودم با مجرم درگیر بشم." 
و سرمو به سمت کامپیوتر برمیگردونم و به بقیه ی حرفاش گوش نمیدم
ساعت ۷ شب مجرم با دستای بسته وارد پاسگاه میشه. ازش اعتراف میگیرم و ثبت میکنم. 
ساعت ۱۰ برمیگردم به آپارتمانم و بعد از استراحت، مودم موقتم رو وصل میکنم و وارد وب میشم
اطلاعات زیادی اینجا پنهانه. انواع وحشیگریها و فروش اسلحه و پورن و... وجود داره ولی من دنبال اشخاص به خصوصی هستم 
بیشتر قاتلای زنجیره ای دوست دارن که از خودشون شاهکاری بجا بذارن و تحسین بشن و چه مکانی بهتر از این وبسایتا
معمولا فرقه های مذهبی منو جذب خودشون نمیکنه ولی این با بقیه ی چیزایی که دیدم فرق داره 
این فرقه به گفته ی خودشون شیاطینی رو میپرستن که تمام اتفاقای جهان رو کنترل میکنن. البته که بیشتر آدما همچین کساییو میپرستن ی عده اسمشو شیطان میذارن ی عده خدا
چیزی که منو جذب کرد نحوه ی قربانی کردن این گروه بود. از عکس هایی که دیدم اونا هر ۶ هفته ۳ نفر رو به عنوان قربانی پیشکش میکردن به سه شیطان. قربانی ها تا آخرین لحظه زنده میموندن، دونفر زن و مرد به عنوان قربانی اصلی انتخاب میشدن و نفر سوم مجبور به کشتن اونها میشد. بعد از کشتن دو قربانی اعضای اون فرقه چشمهای نفر سوم رو خارج میکردن و دماغش بریده میشد و بعد صورتش‌کامل با آتش سوزونده میشد تا حفراتش پوشیده بشه
 دهانش رو گوش تا گوش باز میکردن و بعد از اون... بذار بگیم‌که صحنه ی خوشایندی نبود

اوایل وحشت میکردم ولی واقعیت یک چیز بود. اینکه من نمیتونم کاری کنم. نه اینکه فقط من بلکه تمام پاسگاه های نیویورک هم جمع بشن کاری از دستشون برنمیاد. لوکیشن این فرقه نامشخص بود و جدای اون... من قبلا تلاش کردم که به صورت قانونی با پلیس جلو برم اما سرهنگای بالاتر اجازه نمیدادن که بیشتر کشش پیدا کنه به بهونه های مختلفی که توی حوزه ی شهر نیست و...
چیزی که توجهمو بیشتر به اون فرقه جلب کرد نحوه ی قربانی کردنشون بود
نفر سوم به شیاطین تقدیم میشد و اونو به شکل اونا درمیوردن، این 'شیاطین' دقیقا همون چیزی بودن که من دیدم...
ساعت ۳:۴۵ 
وب باز میشه و من کارمو شروع میکنم، فقط یک نقص توی برنامه لازم داشتم که بفهمم کجان. یک نشونه ی کوچیک. هک کردن خود سایت برام کاری نداشت ولی اگه اینکارو میکردم اپلود برنامه ی زنده ی اونا قطع میشد و از دستشون میدادم. 
باید فرستنده رو هک میکردم که امنیتشون بیش از حد بالا بود.
ساعت ۴:۱۵
ناامید شدم... هیچ راه نفوذی نداشت از پارسال تاحالا هیچ پیشرفتی نکردم...
"نه! خواهش میکنممم! بذارین ما بریم!"

صدای جیغ های بی پایان زن توی سرم پیچید. این صدا... 
دوهفته پیش! مارتا گریفین، شاعد عینی پرونده ی قتل غیر عمد! پرونده ای که از طرف ریس بهم محول شده بود! صداشو کاملا میشناختم خودم ازش گزارش گرفته بودم!
مارتا لباسای کارش تنش بود و بنظر نمیومد زمان زیادی از وقتی که دزدیده شده گذشته باشه.
از وب اومدم بیرون و مودم رو قطع کردم
سوار موتورم شدم و با بخش. بایگانی تماس گرفتم و گفتم پرونده رو آماده کنن
وقتی رسیدم پاسگاه بدون هیچ حرفی پرونده رو برداشتم و به گزارشم نگاه کردم. اون روز با همسرش دیوید اومده بود.
 زنگ زدم...
"نیک! اینجا چیکار میکنی؟" با دستم به ریس اشاره کردم که حرف نزنه.
"سلام؟" بعد مدتی بوق زدن جواب داد
"شما همسر مارتا گریفین هستین؟"
"بله... چطور؟ اتفاقی افتاده؟"
"من از اداره ی پلیس تماس میگیرم همسرتون..." نه... نمیتونستم بگم که چه اتفاقی افتاده
نه وقتی که هیچ کاری از دستم برنمیومد و به احتمال زیاد به خودم شک میکردن.
"چه اتفاقی برای همسرم افتاده؟!" صدای نگران مرد منو به واقعیت برگردوند.
"... ما با همسرتون مارتا گریفین تماس گرفتیم ولی جواب ندادن. برای تحقیقات بیشتر پرونده ی قتل باید به پاسگاه بیاد." سعی کردم تا جایی که میتونم لرزش صدامو کنترل کنم.
"برای چی؟! مارتا هرچی میدونست به شما گفت!" 
"باید دوباره برای تایید گزارش گرفته بشه. همسرتون الان پیش شما هستن؟" نگاه خیره ی ریس رو روی صورتم احساس کردم ولی کاری نکردم که مشکوک تر بشه.
مرد پشت تلفن نفس عمیقی کشید.
"نه. امروز به من گفت که تا دیروقت کار میکنه و هنوز هم برنگشته، هروقت رسید میایم اونجا."
گوشی رو قطع کردم. همین امشب دزدیده شده پس همینجاست. مدارکو نگاه کردم محل کار مارتا دورتر از اینجا نبود. پرونده رو روی میز گذاشتم و به سمت در خروجی رفتم که دست محکمی روی شونم منو کشید به سمت خودش.
"دقیقا داری چیکار میکنی نیک؟! ۴صبح به شاهد زنگ میزنی که بیاد دوباره گزارش بده؟ منو به خنده ننداز تو هیچ وقت نیازی به دوباره چک کردن نداری."
شونمو آزاد کردم و گفتم: اینبار اشتباه کردم 
و اومدم بیرون
"کجا میری؟!" 
جواب ندادم و به سمت محل کار مارتا حرکت کردم.
ساحل بروکلین. منطقه پایین شهر نیویورک جای خوبی برای زندگی نبود. یعنی همینجا مارتا سلاخی میشد؟ از وقتی که گرفتنش چقدر میگذشت؟ 
وارد ساختمون شدم و نگهبان جلومو گرفت. نشانم رو بالا گرفتم و پرسیدم که مارتا کی خارج شده
'ساعت ۳ صبح'... صدای نگهبان توی سرم پخش میشد
امکان نداشت بتونن توی ۴۵ دقیقه از شهر خارج شده باشن! اونا همینجان! 
فکر کن چه جایی میتونه صدای جیغ اونارو خاموش نگه داره؟ 

"نیک!" وحشت زده به سمت صدا برگشتم.
"برای چی اومدی اینجا؟" رفتم عقب. باید خودمو کنترل میکردم اگه ذره ای بو ببره که چیزی میدونم برام عاقبت خوبی نداره! 

ریس جلوتر اومد: صدامو نمیشنوی؟ برای چی اومدی اینجا ۴ صبح؟
نفس عمیقی کشیدم
" همسر مارتا گفت که قرار بوده تا دیروقت کار کنه اومدم که همینجا گزارش بگیرم..."

"میدونی که حتی با نشان کاراگاهی اینکار غیرقانونیه؟ به علاوه من گزارشتو دیدم همه چیز کامل بود."

"قربان، بهتون گفتم که اشتباه کردم توی گزارش باید سریعتر اصلاحش کنم."

"چرا اینجا وایسادی پس؟"
"ساعت ۳ از اینجا رفته..."
"خب پس چرا برنمیگردی؟ فردا هم میتونی گزارشتو بگیری. ایندفعه با دقت بیشتر." 

برای حرف زدنای الکی وقت نداشتم. نگاهمو به ساحل دوختم. اسکله های جلویی ساحل برامده بود و به طرز عجیبی راه قایقهارو سد کرده بود. 
'جایی که جیغ اونارو خاموش نگه داره' زیر آب! 

یهو ریس جلوی صورتم دوتا بشکن زد
"صدامو میشنوی گریوز؟ برو خونه استراحت کن." 
نمیتونستم بذارم چیزی بفهمه. توضیح اینکه چرا ادرس اون وب رو داشتم بدتر از پیدا کردن جسد مارتا بود. قطعا نمیتونستم تا وقتی معاون رئیس شکاک شده برم اونجا ولی این تنها شانس منه. 

"قربان... من یذره زمان نیاز دارم... برمیگردم ولی الان یذره فضا میخوام."
ریس در سکوت به من نگاه کرد و بعد از مدتی سرشو تکون داد. 
"فردا سر ساعت میبینمت. بهتره اونموقع توضیح بدی چی گزارش کمه." 
سرمو تکون دادم و نگاه کردم که سمت ماشینش رفت و دور شد.
نفس راحتی کشیدم و وقتی مطمئن شدم رفته سمت اسکله قدم برداشتم.

البته که امکان نداشت یک کلمه از حرفای گریوز رو باور کنم.
کسی که هیچ علاقه ای به پرونده های قتل غیر عمد نداشته چرا باید برای گزارشی که نیاز به تائید نداره اینقدر پیگیر باشه؟ 
اون پرونده خیلی وقته که بسته شده و قاتل دستگیر شد. 
طرز صحبت کردنشم اینبار از حالت طبیعی خارج بود. البته نه اینکه چیز عجیبی باشه معمولا بچه ی تخسی بود که ماهی یبار به زور پرونده ی جدید قبول میکرد اما همیشه کارش بدون خطا بود.
مارتا گریفین... چه ارتباطی با نیک داشت 
چرا باید ساعت ۴ و نیم صبح بره محل کارش که گزارشیو تایید کنه که هیچ خطایی توش نداره. اگه سر و گوشش میجنبید میگفتم که رابطه ای بینشون هست ولی این پسر تخس تر از این حرفا بود.
بعد چند دقیقه که از اسکله دور شدم توقف کردم. مارتا گریفین هیچ ارتباطی با نیکلاس نداشت، قاتل اون پرونده دوهفته پیش دستگیر شد و هیچ ربطی به نیکلاس نداشت.
پرونده رو توی ماشینم باز کردم و از اول خوندم. هیچ سرنخی که از رفتار عجیب نیک خبر بده نبود. به هیچ عنوان گزارش جدیدی که میخواست بگیره هم تایید نمیشد!
پس چرا؟
نیک ادم غیر منطقی ای نبود... 
دور زدم و برگشتم به محل کار مارتا.
با نگهبان صحبت کردم که فیلم دوربینای بیرون رو نشون بده
تنها دلیلی که میتونه توجه نیک رو به یک پرونده جلب کنه قتل زنجیره ایه. از قبل شنیده بودم که روی پرونده های دیپ وب کار میکرده و هنوز هم از سرش نیفتاده. شاید ی فکر احمقانه باشه ولی هرچی بوده به مارتا گریفین مربوط میشده و کاری کرده که نیک وسط شب بیاد دم محل کارش.

ساعت ۳ صبح مارتا با نگهبان خداحافظی میکنه و میره بیرون. توی تاریکی شب چیز زیادی مشخص نبوده ولی مارتا مدتی توی پارکینگ توقف میکنه. انگار با گوشیش تماس گرفتن
گوشی رو میندازه و به سمت اسکله میره! بقیش مشخص نبود از دیدرس دوربینا خارج شد.

بدون فوت وقت خودمو میرسونم به پارکینگ  و گوشی قرمزی که روی زمین افتاده بود رو برمیدارم
رمز نداره سریع واردش میشم و وارد لیست تماسش میشم. شماره ی ناشناس...
زنگ میزنم 
برمیداره
صدای جیغ یک زن و مرد از پشت تلفن میاد..‌‌
نیکلاس... چجوری میدونست؟
دویدم سمت اسکله همونجایی که مارتا رفته بود.
نیک رو پیدا نکردم ولی حدس میزدم کجا رفته. تمام مدت به اسکله خیره شده بود و عجیب بودکه هیچ قایقی اونوقت شب توی اسکله نبود...

رفتم سمت اسکله ی اصلی، یک راه از زیرش داشت که به ساحل ختم میشد وقتی به اونجا رسیدم زیر اسکله یک در فلزی دیدم که کامل بازه
اسلحمو دراوردم و وارد شدم
پله های زیادی به زیرزمین داشت 
وقتی حدود ۶ متر پایین تر رفتم فشار هوا بیشتر شد و صدا ها واضح تر
صدا شبیه جیغ بود ولی هنوز مطمئن نبودم 
اما از یک چیز مطمئن بودم
اینکه نیک اینجا بود
رد کفشاش مشخص بود. دنبالش کردم صداها بیشتر و بیشتر شد و کاملا صدای جیغ و فریاد مارتا مشهود بود.
صدای اسلحه شنیدم 
اون بچه ی تخس... نباید تاخیر میکردم سریع خودمو رسوندم به صدا و نیک رو پیدا کردم که به کسایی که اونجا بودن شلیک میکرد 
رفتم کنارش و به کسی که از بالا هدف گرفته بود شلیک کردم.
ورود ناگهانی من باعث شد نیک وحشت کنه ولی بهش علامت دادم تمرکز کنه 
جلوی من خون زیادی ریخته بود از قربانی ها.
ادمایی که مارتا و دو قربانی دیگه رو شکنجه میکردن ردای بلند مشکی پوشیده بودن‌. مثل اعضای یک فرقه
بیسیممو برداشتم و به نزدیک ترین ایستگاه وصل شدم و درخواست پشتیبانی کردم ولی هیچ جوابی نیومد. چندبار امتحان کردم ولی کار نمیکرد.
لعنتی... 
بعد ی مدت تیرای نیک تموم شد. همینطور که رو به روی من پشت دیوار بتنی پنهان شده بود بیسیمو دادم بهش
"برو بالا پشتیبانی خبر کن." سرشو تکون داد و رفت که ناگهان صدای شلیک اومد
از در ورودی افراد فرقه اومدن پایین 
چرا زودتر بیسیم نزدم؟
پشت دیوارها قرار گرفتم فقط ۳ تا تیر برام مونده بود.
امکان نداشت بتونم از پس اونهمه ادم بربیام
نیکلاس... چجوری یک شبه اینقدر سرخود عمل کردی؟
افراد اون فرقه چیزی به زبون لاتین زمزمه میکردن و بدن نیک رو کشوندن روی جسدهای قربانی ها. هنوز زنده بود تیر به پهلوش خورده بود. 
قربانی ای که نیک رو روش انداختن صورتش به طرز وحشتناکی سوخته بود و... دهنش... دقیقا این ادما چقدر مریض بودن؟! نیکلاس چجوری از این خبردار شده بود؟!
یکی از اعضای اون فرقه دست نیکلاس رو گرفت و زخم عمیقی روی شاهرگش ایجاد کرد و کاسه برای جمع کردن خونش گذاشت. نمیتونستم این صحنه رو ببینم. اگه از این سه تا گلوگله درست استفاده میکردم قطعا میتونستم یکاری از پیش ببرم
یکی از اعضای فرقه که اسلحه دستش بود رو نشونه گرفتم

صدای شلیک تک گلوله بعد از مدتی سکوت گوش خراش بود ولی من معطل نکردم سریع خودمو رسوندم به اسلحه.
همشون باهم زیر لب کلماتی میگفتن و من سریع دست به کار شدم و با اسلحه ای که گرفتم شروع به تیر اندازی کردم...
سعی کردن چندنفری حمله کنن ولی برگ برنده دست من بود جز یکنفر بقیه اسلحه نداشتن
همزمان با شلیک من صداهاشون بلندتر شد و افقط دو سه نفر مونده بودن که نزدیک نیکلاس بودن.
اونی که شاهرگ نیکلاسو زده بود کاسه ی خونو برداشت و روی لبای قربانی بدون صورت گذاشت. 
به دو نفر باقی موندشون شلیک کردم و نیک با آخرین قدرتی که داشت چاقوشو در گردن اخرین نفری که خونشو ازش دزدیده بود فرو کرد و افتاد.
من پرونده های قتل زیادی داشتم، توی ارتش بودم، با دشمنای زیادی جنگیدم، ولی این دیوونگی بود...
رفتم سمت نیکلاس و با تیکه پارچه ای دستشو بستم و فشار دادم که بیشتر از این خون ازش نره. 
دقیقا چه اتفاقی افتاد؟! هضمش برام سخت بود. به اطرافم نگاه کردم مارتا گریفین و مرد کناریش هردو سلاخی شده بودن... و یک دوربین
دوربینی که همه ی این وقایع رو ظبط کرده، دارک وب!
"گریوز... نیک... صدامو میشنوی؟!"
نیکلاس خون زیادی از دست داده بود. دستشو محکم تر فشار دادم و چندبار به صورتش زدم که بیهوش نشه.
"نیکلاس! چجوری فهمیدی مارتا اینجاست؟!" 
به نفس افتاده بود و نمیدونست چه جوابی باید بده.
ناگهان صدای گوش خراش پارازیت از در ورودی توی زیرزمین پیچید.
بیسیم!
"نیک، دستتو فشار بده، فهمیدی؟ الان برمیگردم!" 
 بیسیمو برداشتم و حرف زدم. هیچ کس جواب نداد فقط پارازیت
باید میرفتم بیرون. از پله ها بالا رفتم‌ بلاخره باید ی سیگنال بگیرم. صدای بیسیم کم کم داره درست میشه ولی همچنان جوابی از اونور نمیاد

به در بالا میرسم که بسته شده بود. در رو هل میدم باز نمیشه این احمقانست این در موقع اومدن خیلی نازک تر بود... 
چشمم به کلید روی دیوار میخوره، چجوری از چشمم گذشت؟ 
در رو باز کردم و سیگنال... رفت؟ 
صدای رعد و برق منو به خودم اورد...
رو به روم... 
جنگله؟...
</pre>
<a href="{{ url_for('user.story') }}">قسمت قبلی</a>
    </section>
    

    {% include 'parts/footer.html' %}
    
{% endblock %}
